<div class="main-box">
    <h3 [ngClass]="{'second-heading': isHeadingSecond()}" class="heading" (click)="changeHeading()">{{ heading }}</h3>
    <div *ngIf="heading === defaultHeading">
        <ul class="books-list">
            <li *ngFor="let book of books">
                <app-book-item [book]="book" (bookDeleted)="onBookDelete($event)"></app-book-item>
            </li>
        </ul>
        <p class="books-count">Ordered books count: {{ books.length }}</p>
        <button [disabled]="!books.length" class="btn" (click)="deleteBooks()">Delete all</button>
    </div>
    <div *ngIf="isHeadingSecond()">
        <p [ngStyle]="{'font-weight': '700'}">... nope, too low budget. Instead random two-way data binding: {{ randomTwoWayBinding }} </p>
        <input [(ngModel)]="randomTwoWayBinding" type="text">
    </div>
</div>