<div class="navbar">
    <a class="navbar-link" routerLinkActive="navbar-link-active" [routerLinkActiveOptions]="{exact: true}" routerLink="">Books</a>
    <a class="navbar-link" routerLinkActive="navbar-link-active" routerLink="books-orders">Orders</a>
    <a class="navbar-link" routerLinkActive="navbar-link-active" routerLink="user">My data</a>
</div>

<div class="main-box">
    <router-outlet></router-outlet>
</div>

<div class="info">
    <p class="info-paragraph">
        Zakładamy, że nazwy książek są unikalne i można dodawać, usuwać po nazwie.
    </p>
    <p class="info-paragraph">
        Utworzyć serwis oraz dodać w nim dwa array'e: dla "books" (książki możliwe do zamówienia) oraz dla "orders" (zamówione). <br>
        Na sztywno dodać parę książek dla "books", "orders" powinno być puste.
    </p>
    <p class="info-paragraph">
        W componencie "Books" utworzyć listę i wyświetlić w niej "books" z serwisu. <br>
        Przekazać takżę listę dla "orders" z serwisu do componentu (array w componencie "Orders" powinien być pusty i wszystko pobierane z serwisu).
    </p>
    <p class="info-paragraph">
        W componencie "Books" przy kliknięciu w daną książkę jest ona usuwana i dodawana do listy w componencie "Orders".
    </p>
    <p class="info-paragraph">
        W componencie "Orders" przy kliknięciu na "X" dana książka jest usuwana i dodawana do listy w "Books". <br>
        Przy kliknięciu na "Delete all" wszystkie książki są usuwane i dodawane do listy w "Books".
    </p>
</div>