<div class="navbar">
    <a class="navbar-link" routerLinkActive="navbar-link-active" [routerLinkActiveOptions]="{exact: true}" routerLink="">Books</a>
    <a class="navbar-link" routerLinkActive="navbar-link-active" routerLink="books-orders">Orders</a>
    <a class="navbar-link" routerLinkActive="navbar-link-active" routerLink="user">My data</a>
</div>

<div class="main-box">
    <router-outlet></router-outlet>
</div>

<div class="info">
    <p class="info-paragraph">
        Dla componentu "User" w template zrobić formę. Pola "Mail", "Nickname", "Package" wymygane oraz "Mail" jako email. 
    </p>
    <p class="info-paragraph">
        Jeśli forma jest invalid to przycisk "Save" jest wyłączony oraz zaznaczane są niepoprawne pola. <br>
        Jeśli jest valid to po przyciśnięciu "Save" na dole pojawia się odpowiedni komunikat.
    </p>
    <p class="info-paragraph">
        Po kliknięciu w "Propose nickname" wyświetlana jest propozycja (parę propozycji dodane na sztywno w componencie).
    </p>
    <p class="info-paragraph">
        Przycisk "Add code" jest wyłączony i włączany dopiero w momencie, gdy użytkownik wpisze odpowiedni kod (sprawdzane przy każdym znaku, parę kodów na sztywno). <br>
        Po przyciśnięciu "Add code" wyświetlany jest odpowiedni komunikat, a linia do wprowadzania kodu znika.
    </p>
    <p class="info-paragraph">
        Utworzyć serwis dla "user" oraz model odpowiadający danym w formie (uwzględnić także czy kod został dodany). <br>
        Podczas zapisu formy przekazać dane do serwisu, a podczas przechodzenie do componentu "user" wyświetlić wczesniej zapisane dane. <br>
        Jeśli kod został już wcześniej dodany wyświetlać tylko komunikat.
    </p>
</div>