<div class="main-box">
    <h3 class="heading">Books orders:</h3>
    <div>
        <ul class="books-list">
            <li>Władca pierścieni</li>
            <li>Hobbit</li>
        </ul>
        <p class="books-count">Ordered books count: X</p>
        <button class="btn">Delete all</button>
    </div>
</div>


<div class="info">
    <p class="info-paragraph">Utworzyć ręcznie nowy component i skonfigurować go.</p>
    <p class="info-paragraph">Selectować utworzony component w "app.component".</p>
    <p class="info-paragraph">W waszym componencie nakodzić template (HTML) i wystylować jak chcecie.</p>
</div>