<div class="main-box">
    <h3 [ngClass]="{'second-heading': isHeadingSecond()}" class="heading" (click)="changeHeading()">{{ heading }}</h3>
    <div *ngIf="heading === defaultHeading">
        <ul class="books-list">
            <li *ngFor="let book of books">
                <app-book-item [book]="book" (bookDeleted)="onBookDelete($event)"></app-book-item>
            </li>
        </ul>
        <p class="books-count">Ordered books count: {{ books.length }}</p>
        <button [disabled]="!books.length" class="btn" (click)="deleteBooks()">Delete all</button>
    </div>
    <div *ngIf="isHeadingSecond()">
        <p [ngStyle]="{'font-weight': '700'}">... nope, too low budget. Instead random two-way data binding: {{ randomTwoWayBinding }} </p>
        <input [(ngModel)]="randomTwoWayBinding" type="text">
    </div>
</div>

<div class="info">
    <p class="info-paragraph">
        Utworzyć nowy component, który będzie pełnił rolę itemu w liście książek i zawierał nazwę książki oraz przycisk do usuwania.
        Dodać ten component jako item w componencie "Books orders".
    </p>
    <p class="info-paragraph">
        Przekazać nazwę książki dla każdego itemu listy do nowego componentu.
    </p>
    <p class="info-paragraph">
        Przy kliknięciu w przycisk "delete" w nowym componencie, z componentu "Books orders" usuwana jest dana książka. <br>
        Zakładamy, że nazwa książki jest unikalna i można po niej usuwać.
    </p>
</div>