.main-box {
    width: 40%;
    margin: 70px auto 40px auto;
    padding: 2%;
    border: 2px solid black;
    border-radius: 4px;
}

.books-list {
    margin: 0 0 10px 30px;
}

.books-count {
    margin-bottom: 10px;
}

.info {
    text-align: center;

    &-paragraph {
        margin-top: 10px;
    }
}